<section class="content-header">
    <h2>
        Todos os Restaurantes
        <a href="#" class="search-link pull-right" ng-click="vm.toggleSearch()">
            <span>
                <small></small>
            </span>
            <i class="fa fa-search"></i>
        </a>
    </h2>
    <div ng-if="vm.showInputSearch">
        <!-- barra de busca-->
        <div class="row">
            <div class="col-xs-12">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="O que você está procurando?" ng-model="vm.search" ng-change="vm.getRestaurants()">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="row">
        <div ng-repeat="restaurant in vm.restaurants" class="col-sm-6 col-xs-12">
            <meat-restaurant restaurant='restaurant'></meat-restaurant>
        </div>
    </div>
</section>