<div class="row">
    <div class="col-xs-12 col-sm-9">
        <p class="order-title">Seus Dados:</p>
    </div>
    <div class="col-sm-6 col-xs-12">
        <input class="form-control" formControlName="name" placeholder="Nome" autocomplete="off">
    </div>

    <div class="col-sm-3 col-xs-6">
        <input type="text" class="form-control" formControlName="email" placeholder="E-mail" autocomplete="off">
    </div>

    <div class="col-sm-3 col-xs-6">
        <input type="text" class="form-control" formControlName="emailConfirmation" placeholder="Confirmação do e-mail" autocomplete="off">
    </div>
</div>