<div class="row">
    <div class="col-xs-12">
        <p class="lead">Endereço de Entrega:</p>
    </div>
    <div class="col-sm-6 col-xs-12">
        <input class="form-control" formControlName="address" placeholder="Endereço" autocomplete="off">
    </div>
    <div class="col-sm-3 col-xs-6">
        <input type="text" class="form-control" formControlName="number" placeholder="Número" autocomplete="off">
    </div>
    <div class="col-sm-3 col-xs-6">
        <input type="text" class="form-control" formControlName="optionalAddress" placeholder="Complemento">
    </div>
</div>