html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #efefef;
    color: #555;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
}

.img-circle {
    height: 48px;
    width: 48px;
    border: 3px solid;
    border-color: transparent;
    border-color: rgba(255,255,255,0.2);
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    -ms-transform: translate(0,-25%);
    -o-transform: translate(0,-25%);
    transform: translate(0,-25%);
}

/* modal vertical position center */

.modal {
    text-align: center;
}
  
@media screen and (min-width: 768px) { 
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}
  
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

@font-face { 
    font-family: "FontAwesome"; 
    font-style: normal; 
    font-weight: normal; 
    src: url("fontawesome-webfont.674f50d287a8c48dc19b.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("fontawesome-webfont.912ec66d7572ff821749.svg#fontawesomeregular") format("svg");
}

@font-face { 
    font-family: "Source Sans Pro"; 
    font-style: normal; 
    font-weight: 400; 
    src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url("https://fonts.gstatic.com/s/sourcesanspro/v11/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2") format("woff2"); 
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; 
}

@font-face { 
    font-family: "Source Sans Pro"; 
    font-style: normal; 
    font-weight: 700; 
    src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url("https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdu.woff2") format("woff2"); 
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; 
}

#formButton {
    background: black;   
}

#formButton:hover {
    color: black;
    background-color: lightgray;
    border-color: black;
}

.formLogin {
    margin-top: 15%;
}

.formLogin form-control:focus {
    border-color: black;
}

/* BOX */

.box-header {
    color: inherit;
}

.box-img-detail {
    width: 180px;
    height: 180px;
}

.content-detail {
    background-color: #fff;
}

.content {
    min-height: 250px;
    padding: 15px;
        padding-right: 15px;
        padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.box-title {
    font-size: 14px;
    display: inline-block;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px 20px 0 10px;
    position: relative;
}

.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
    right: 0px;
    left: 10px;
    padding-left: 0px;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.box-body dl {
    font-size: 18px;
}

.box.box-solid {
    border-top: 0;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
    height: 55px;
}

.danger {
    color: #dd4b39;
}

.table > tbody > tr > td {
    padding: 3px;
    vertical-align: middle;
    border-top: 1px solid #f4f4f4;
}

.table > tbody > tr > th {
    border-top: 1px solid #f4f4f4;
}